.bar {
  width: 140px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
}

.valueContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blank {
  width: 140px;
  height: 47px;
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}

.text{
  color: white;
}

.label {
  color: white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
