.bar {
  width: 140px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
}

.blank {
  width: 140px;
  height: 21px;
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}

.text{
  color: white;
}
